body
	h1
		'ChallangeApp notification.
	h2	
		'Hello, 
		= @question_user.to_s
		'!
	p 	
		'User 
		=link_to @answer_user.to_s, @answer_user_url
		'  has posted an answer to your question.
	p
		'See that answer 
		=link_to "here.", @question_url
		
